.nombre {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    color: rgb(37, 97, 195);
}

.fechita {
    float: right;
    font-weight: 700;
    font-size: 1.2rem;
}

.area {
    border: 2px solid red;
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    position: absolute;
    margin-top: 15rem;
}
.serie {
    width: 80%;
    height: 900px;
    padding: 10px;
    margin: 25px auto;
    border: 1px solid rgb(65, 161, 145);
    border-radius: 20px;
    /* background-image: url(./S.png); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
p {
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 26px;
}
span {
    font-weight: 400;
    color: rgb(250, 85, 9);
}
img{
    display:block;
    margin:auto;
}
.separador {
    width: 100%;
    height: 50px;
    background: rgb(202, 106, 106);
    margin: 20px auto;
}

.vocales {
    width: 50%;
    margin: auto;
    border: 1px solid;
}